* {
    border: none;
    border-radius: 0;
    font-family: Roboto Mono;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 1);
    color: #ffffff;
}

window#waybar.hidded {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-power {
    padding: 0 10px;
}

#idle_inhibitor {
    padding: 0 10px;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode {
    margin: 0 6px;
    color: #ffffff;
}

#custom-power {
}

#clock {
    font-weight: bold;
    border-bottom: 3px solid #ffffff;
}

#battery {
}

@keyframes blink_charging {
    to {
        color: #99ff99;
    }
}

#battery.charging {
    color: #ffffff;
    animation-name: blink_charging;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink_critical {
    to {
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink_critical;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-playerctl {
    padding-left: 10px;
    padding-right: 10px;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    border-bottom: 3px solid #aaaaaa;
}

#idle_inhibitor.activated {
    font-weight: bold;
    border-bottom: 3px solid #00ff88;
    color: #00ff88;
}
