[Desktop Entry]
Categories=Network;WebBrowser;GTK;
Encoding=UTF-8
Name=Firefox (Wayland)
GenericName=Web Browser
Comment=Web Browser - Wayland Enabled
TryExec=firefox
Exec=env MOZ_ENABLE_WAYLAND=true firefox %u
Icon=firefox
Terminal=false
StartupNotify=true
Type=Application

Actions=PrivateBrowsing;

[Desktop Action PrivateBrowsing]
Name=New Private Browsing Window
Exec=env MOZ_ENABLE_WAYLAND=true firefox --private-window %u

MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
